@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='tel'],
input[type='datetime-local'],
input[type='time'],
select,
textarea {
	-moz-appearance: textfield;
	appearance: textfield;
	@apply w-full border border-gray-300 my-1 py-2 px-3 rounded-md;
}

.swiper-button-next {
	@apply text-white p-2 rounded;
}

.swiper-button-prev {
	@apply text-white p-2 rounded;
}

textarea {
	height: 140px;
}

button {
	@apply bg-gray-300;
}

button.primary {
	background-color: #f5385d;
	@apply bg-primary py-2 px-3 w-full text-white rounded-md;
}

html,
body,
:root {
	height: 100%;
}

.loading-icon {
	/* color: teal;
  font-size: 2rem; */
	animation: animate 2s infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(720deg);
	}
}

.bg-gradient {
	background: rgb(2, 0, 36);
	background: linear-gradient(51deg, rgba(2, 0, 36, 1) 0%, rgba(85, 103, 147, 1) 100%);
}

.rdrMonth {
	width: 100% !important;
}

.rdrCalendarWrapper {
	font-size: 16px !important;
	width: 100% !important;
}
